#headerCont{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-left: 30px;
    padding-right: 30px;

    background-color: rgba(97, 15, 120, 0.6);
    color: whitesmoke;
    border-bottom: 2px solid rgb(255, 255, 255, 0.5);
}
#logoutform{
    position:fixed;
    align-self: flex-end;
}

#logoutbtn{
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
}

#logouticon{
    height: 35px;
    width: 35px;
    cursor: pointer;
}

